body{
	background: #F0F2F2;
}
section img{
	max-width: 200px;

	
}
img{
	
	border-bottom: solid black 1px;
}

/* Set Your Own Margin & Padding */
h1{
	font-family: 'Open Sans', sans-serif;
}
h2{
	font-family: 'Lusitana', serif;
	color:#57C1AD;

}
h3{
	font-family:  'Open Sans', italic;
	color: #ADAA8C;
}
h2, h3, p {
	margin: 0;
}

.color-1{
	background:#8C855D;
}

.color-2{
	background: #ADAA8C;
}
.color-3{
	background:  #57C1AD;
}
.color-4{
	background: #33E5CF;
}
.color-5{
	background: #F5EF82;
	margin margin-right: 10px;
}

em{
	margin-left: 30px;
}



/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3 {
	
	float: left;
	margin: 0 3px;
	width: 100px;
	height: 130px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);

}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}